<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @title + ' | Recall' %></title>
  <link href="/normalize.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
	  <hgroup>
	  <h1><a href="/">Total Rekall</a></h1>
		<h2>For the memory of a lifetime</h2>
		</hgroup>
	</header>

	<div id="main">
		<%= yield %>
	</div>
	<footer>
		<p><small>Made by grzeswol</small></p>
	</footer>
</body>
<html>
